#player-1-info {
  text-align: left;
}

#player-2-info {
  text-align: right;
}

#dice-roll {
  text-align: center;
}

#roll {
  text-align: right;
}

/* #p1turn{
  text-align: center;
}

#p2turn{
  text-align: center;
} */

#player-row {
  text-align: center;
  padding-top: 20px;
}

.card {
  width: 300px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

.winner {
  text-align: center;
  padding-top: 20px;
  display : none;
}

form {
  width: 300px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

.game-area {
  display: none;
}

#players {
  display: none
}
